/* Breadcrumbs */
.breadcrumb {
    display: inline-block;
}
.breadcrumb ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;    
}
.breadcrumb ul li a{
    position: relative;
    margin: 0 2rem;
}
.breadcrumb ul li a::after {
    content: '/';
    opacity: 0.2;
    color: var(--textColor);
    position: absolute;
    height: 100%;
    margin-left: 0.75rem;
}
.breadcrumb ul li:first-child a {
    margin: 0;
}
.breadcrumb ul li.active a {
    margin: 0;
    color:var(--textColor);
}
.breadcrumb ul li.active a::after {
    content: '';
}
/* Cards */
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cardBorderColor);
    border-radius: var(--borderRadius);
    max-width: 300px;    
    box-shadow: 0 0 6px var(--boxShadowColor);
}
.card p {margin: 0;}
.card figure img {
    border-radius: var(--borderRadius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
    min-width: 100%;
}
.card div {    
    display: flex;
    flex-direction: row;
    margin: 0.75rem;
}
.card div figure {
    width: 50px;
    height: 50px;
}
.card .card-content img {
    border-radius: 0;
}
.card .card-person {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}
.card .card-details {
    display: flex;
    font-size: 0.9rem;
    width: 80%;
}
/* Tabs */
.tabs {
    display: block;
    padding: 0;
    margin: 0;
}
.tabs ul {
    display: flex;
    list-style: none;
    width: 100%; 
    padding-bottom: 0.5rem;
    margin: 0;
    border-bottom: 1px solid var(--cardBorderColor);
}
.tabs ul li a {
    margin: 0;
    /* color: var(--textColor); */
    padding: 0.5rem 1.25rem; 
}
.tabs ul li.active a,
.tabs ul li a:hover {
    color: var(--anchorTextColor);
    border-bottom: 1px solid var(--anchorTextColor);
}
.tabs .tabs-content {
    margin: 1rem;
}
.tabs .tabs-content div {
    display: none;    
}
.tabs .tabs-content .active {
    animation: fadein 500ms linear forwards;
    display: block;
}
/* Message */
.message {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cardBorderColor);
    border-radius: var(--borderRadius);
    background-color: var(--inputBackgroundColor);
    position: relative;
}
.message .message-header button {
    position: absolute;
    right: 0.45rem;
    top: 0.45rem;
    margin: 0;
    padding: 0;
}
.message .message-header {
    background-color: var(--textColor);
    color: var(--backgroundColor);
    padding: 0.5rem 1rem;
    font-weight: bold;    
    border: 1px solid var(--cardBorderColor);
    border-radius: var(--borderRadius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.message .message-details {
    padding: 1rem;
    font-size: 0.95rem;
    line-height: 1.5rem;
} 
/* Notifications */
.notification {
    position: relative;
    padding: 1rem;
    background-color: var(--inputBackgroundColor);
    border: 1px solid var(--cardBorderColor);
    border-radius: var(--borderRadius);    
    font-size: 0.85rem;
}
.notification button {
    position: absolute;
    border-radius: 50%;
    padding: 0.25rem;
    margin: 0;
    top: 0.25rem;
    right: 0.25rem;
    transform: scale(0.7);
}
.notification div {
    max-width: 95%;
    width: 100%;
}