/* Common classes */
/* Width and Height */
.w100{width: 100vw !important}
.h100{height: 100vh !important}
.w50{width: 50vw !important}
.h50{height: 50vh !important}
.w25{width: 25vw !important}
.h25{height: 25vh !important}
.w100p{width: 100% !important}
.h100p{height: 100% !important}
.w50p{width: 50% !important}
.h50p{height: 50% !important}
.w25p{width: 25% !important}
.h25p{height: 25% !important}
/* Display */
.df{ display: flex;}
.di{ display: inline;}
.db{ display: block;}
.dib{ display: inline-block;}
.dn{ display: none;}
/* Flex */
.fdr{flex-direction: row;}
.fdc{flex-direction: column;}
.jcc{justify-content: center;}
.jcsa{justify-content: space-around;}
.jcsb{justify-content: space-between;}
.jcse{justify-content: space-evenly;}
.jcfs{justify-content: flex-start;}
.jcfe{justify-content: flex-end;}
.jcs{justify-content: stretch;}
.jic{justify-items: center;}
.jifs{justify-items: flex-start;}
.jife{justify-items: flex-end;}
.jis{justify-items: stretch;}
.jsc{justify-self: center;}
.jsfs{justify-self: flex-start;}
.jsfe{justify-self: flex-end;}
.jss{justify-self: stretch;}
.acc{align-content: center;}
.acsa{align-content: space-around;}
.acsb{align-content: space-between;}
.acse{align-content: space-evenly;}
.acfs{align-content: flex-start;}
.acfe{align-content: flex-end;}
.acs{align-content: stretch;}
.aic{align-items: center;}
.aifs{align-items: flex-start;}
.aife{align-items: flex-end;}
.ais{align-items: stretch;}
.asc{align-self: center;}
.asfs{align-self: flex-start;}
.asfe{align-self: flex-end;}
.ass{align-self: stretch;}
/* Text Style and Formating */
.fwlr {font-weight: lighter;}
.fwl {font-weight: light;}
.fwn {font-weight: normal;}
.fwb {font-weight: bold;}
.fwbr {font-weight: bolder;}
.fsi{font-style: italic;}
.tdlt{text-decoration:line-through;}
.tdo{text-decoration: overline;}
.tdu{text-decoration: underline;}
.ttu{text-transform: uppercase;}
.ttl{text-transform: lowercase;}
.ttc{text-transform: capitalize;}
/* Text Alignment */
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}
.taj{text-align: justify;}
/* Line Height */
.lh{line-height: 1rem;}
.lh1{line-height: 1.25rem;}
.lh2{line-height: 1.5rem;}
.lh3{line-height: 2rem;}
/* Overflow */
.ofh {overflow: hidden;}
.ofa {overflow: auto;}
/* Margin */
.m{margin: 1rem}
.mx{margin: 0 1rem}
.my{margin: 1rem 0 }
.ml{margin-left: 1rem}
.mt{margin-top: 1rem}
.mr{margin-right: 1rem}
.mb{margin-bottom: 1rem}
/* Padding */
.p{padding: 1rem}
.px{padding: 0 1rem}
.py{padding: 1rem 0 }
.pl{padding-left: 1rem}
.pt{padding-top: 1rem}
.pr{padding-right: 1rem}
.pb{padding-bottom: 1rem}
/* Background Color */
.bcp{background-color: #39f !important }
.bcs{background-color: #9b0 !important }
.bci{background-color: #93f !important }
.bcw{background-color: #f93 !important }
.bce{background-color: #f00 !important }
.bcn{background-color: #f39 !important }
.bcl{background-color: #eee !important }
.bcd{background-color: #333 !important }
/* Text Color */
.tcp{color: #39f !important }
.tcs{color: #9b0 !important }
.tci{color: #93f !important }
.tcw{color: #f93 !important }
.tce{color: #f00 !important }
.tcn{color: #f39 !important }
.tcl{color: #eee !important }
.tcd{color: #333 !important }
/* Animations */
.ani-rev{animation-direction: reverse;}
.ani-rotate{animation: rotate 500ms linear forwards; transition: 500ms; }
.ani-fadein{animation: fadein 500ms linear forwards; opacity: 1; transition: 500ms; }
.ani-fadeout{animation: fadeout 500ms linear forwards; opacity: 0; transition: 500ms; }
.ani-fromright{animation: fromright 500ms linear forwards; transition: 500ms; }
.ani-fromleft{animation: fromleft 500ms linear forwards; transition: 500ms; }
.ani-frombottom{animation: frombottom 500ms linear forwards; transition: 500ms; }
.ani-fromtop{animation: fromtop 500ms linear forwards; transition: 500ms; }
.ani-toright{animation: fromright 300ms ease-in-out reverse; transition: 500ms; }
.ani-toleft{animation: fromleft 300ms ease-in-out reverse; transition: 500ms; }
.ani-tobottom{animation: frombottom 300ms ease-in-out reverse; transition: 500ms; }
.ani-totop{animation: fromtop 300ms ease-in-out reverse; transition: 500ms; }
.ani-zoomin{animation: zoomin 500ms linear forwards; transform: scale(1.5); transition: 500ms; }
.ani-zoomout{animation: zoomout 500ms linear forwards; transform: scale(0.75); transition: 500ms; }
@keyframes zoomout { to { transform: scale(.75) } }
@keyframes zoomin { to { transform: scale(1.5) } }
@keyframes fromtop { from {transform: translateY(-100%); }  to { transform: translateY(0%) } }
@keyframes frombottom { from {transform: translateY(100%); }  to { transform: translateY(0%) } }
@keyframes fromleft { from {transform: translateX(-100%); }  to { transform: translateX(0%) } }
@keyframes fromright { from {transform: translateX(100%); }  to { transform: translateX(0%) } }
@keyframes rotate { from {transform: rotate(0deg);}  to { transform: rotate(360deg); } }
@keyframes fadein { from {opacity: 0;}  to { opacity: 1; }}
@keyframes fadeout { from {opacity: 1 } to { opacity: 0; }}